* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #070707;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
}


@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}